.navbar-content {
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}
.navbar-logo{
    margin-top: 10px;
}
.navbar-img {
    margin:15px 10px;
    cursor: pointer;
   
}
.navbar-search {
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}
.plus{
    margin-top: -113px;
}
.navbar-img2 {
    margin-top:-127px ;
    cursor: pointer;
    margin-left: 4px;
   
}